/*selezionati in base alla classe scelta nell'fxml*/
.dashboard-background{
    -fx-background-color: #333333;
}
.dashboard-cards{
    -fx-background-color: #454545;
}
.dash-button{
    -fx-background-color: #666666;
}
.primary-color{
    -fx-background-color: #333333;
}
.secondary-color{
    -fx-background-color: #454545;
}
.text-color{
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
}
.border{
    -fx-border-color: #454545;
}
.round-corner{
    -fx-background-radius: 100;
}
.round2-corner{
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.round-corner-background{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-dashboard{
    -fx-fill: #ffffff;
}


/*pescaggio elementi di default*/


.combo-box-base{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.combo-box .text-field{
    -fx-background-color: #a0c3ee;
    -fx-background-radius: 50 0 0 50;
    -fx-border-color: transparent;
}
.combo-box{
    -fx-background-radius: 50;
    -fx-border-color: transparent;
}
.combo-box .arrow-button{
    -fx-background-color: #a0c3ee;
    -fx-background-radius: 0 50 50 0;
    -fx-border-color: transparent;
}
.text-field {
    -fx-prompt-text-fill: #ffffff;
}

.chart{
    -fx-background-color: #454545;
    -fx-background-radius: 5;
    -fx-tick-label-fill: #ffffff;
}
.chart-pie-label{
    -fx-fill: #ffffff;
}

/*Table view styling*/
.table-view{
    -fx-background-color: #333333;
    -fx-border-radius: 5;
    -fx-border-color: #454545;
}

.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: #333333;
}
.table-view .column-header-background .label{
    -fx-font-family: System;
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
}
.table-view .column-header{
    -fx-background-color: #333333;
    -fx-border-color: transparent #454545 #454545 transparent;
    -fx-border-width: 0.4;
}
.table-view .filler{
    -fx-background-color: #333333;
    /*up right down left*/
}
.table-view .show-hide-columns-button {
    -fx-background-color: #333333;
    -fx-border-color: #333333;
    -fx-prompt-text-fill: transparent;
}

.table-view .table-cell{
    -fx-font-family: System;
    -fx-text-fill: #ffffff;
    -fx-border-color: #454545 #454545 #454545 transparent;
    -fx-padding: 5 10 0 10;
    -fx-border-width: 0.3;
}
.table-row-cell{
    -fx-background-color: #333333;
}


.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical> .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background{
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button{
    -fx-opacity: 0;
}