/*selezionati in base alla classe scelta nell'fxml*/
.primary-color{
    -fx-background-color: #f1f1f1;
}
.secondary-color{
    -fx-background-color: #dbdade;
}
.text-color{
    -fx-text-fill: #000000;
}
.border{
    -fx-border-color: #868484;
}
.round-corner{
    -fx-background-radius: 100;
}
.round2-corner{
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.round-corner-background{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-dashboard{
    -fx-text-inner-color:  #4e4d4d;
}
/*pescaggio elementi di default*/
.text-field {
    -fx-prompt-text-fill: #504c4c;
}

.chart{
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 5;
    -fx-text-fill: #4e4d4d;
}

/*Table view styling*/
.table-view{
    -fx-background-color: transparent;
    -fx-border-radius: 5;
    -fx-border-color: #c1c1c4 ;
}

.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: #f1f1f1;
}
.table-view .column-header-background .label{
    -fx-font-family: System;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}
.table-view .column-header{
    -fx-background-color: transparent;
    -fx-border-color: transparent #c1c1c4 #c1c1c4 transparent;
    -fx-border-width: 0.4;
}
.table-view .filler{
    -fx-background-color: transparent;
 /*up right down left*/
}
.table-view .show-hide-columns-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: transparent;
}

.table-view .table-cell{
    -fx-font-family: System;
    -fx-text-fill: black;
    -fx-border-color: #c1c1c4 #c1c1c4 #c1c1c4 transparent;
    -fx-padding: 5 10 0 10;
    -fx-border-width: 0.3;
}
.table-row-cell{
    -fx-background-color: #f1f1f1;
}


.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical> .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background{
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button{
    -fx-opacity: 0;
}