.primary-color{
    -fx-background-color: #eeeeee;
}
.secondary-color{
    -fx-background-color: #dbdade;
}
.text-color{
    -fx-text-fill: #000000;
}
.border{
    -fx-border-color: #868484;
}
.round-corner{
    -fx-background-radius: 100;
}
.round2-corner{
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.round-corner-background{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-field {
    -fx-prompt-text-fill: black;
}

/*Table view styling*/
.table-view{
    -fx-background-color: transparent;
    -fx-background-radius: 15;
}

.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: #eeeeee;
}
.table-view .column-header-background .label{
    -fx-font-family: System;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}
.table-view .column-header{
    -fx-background-color: transparent;
    -fx-border-color: #c1c1c4;
    -fx-border-width: 0.4;
}
.table-view .filler{
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-font-family: System;
    -fx-text-fill: black;
    -fx-border-color: #c1c1c4;
    -fx-border-width: 0.3;
}
.table-row-cell{
    -fx-background-color: #eeeeee;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:odd{
    -fx-background-color: #eeeeee;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical> .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background{
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button{
    -fx-opacity: 0;
}